body {
	background: silver;
}

#header{
	padding:10px;
	background: gold;
}

#content {
	background: #fff;
	padding:20px;
	margin: auto;
    width: 75%;
    border: 3px solid green;
    padding: 10px;
}

#footer{
	background: green;
	color:white;
	padding:20px;
}


#upload-submit{
	margin-top: 10px;
}

.page-title{
	text-align: center;
}

.image-title{
	font-size: 0.85em;
}

.inner{
	padding:10px;
}

.glyphicon.glyphicon-cloud{
	font-size: 10em;
}